*{
    padding: 0; margin: 0;box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    background: url('../images/picture3.jpg'), url('../images/thomas-dumortier-abtidmVsw8o-unsplash.jpg');
    background-size: 40% 70%, cover;
    background-position: right,center;
    background-repeat: no-repeat,no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 68%, 49% 100%, 0 70%, 0 0);
    background-attachment: fixed;
}

.logo{
    color: white;
    font-size: 50px;
    padding-left: 100px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;

}
.menu{
    margin: 100px;
}

 nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.logo span{
    color: #e74c3c;
}



.menu a:hover{
    background: #e74c3c;
    transition: 0.4s;



}

.text{
    color: white;
    margin-top: 120px;
    margin-left: 100px;
    max-width: 450px;
}

.text h1{
    font-size: 50px;
    margin: 10px 0;

}

.text p{
    font-size: 25px;
    
}
.c-btn{
    border: none;
    outline: none;
    color: white;
    background: #e74c3c ;
    padding: 10px;
    margin-top: 20px;
}

#about{
    padding: 100px 50px;

}

.section-info{
    font-weight: bold;
    text-align: center;
}

.section-info h1{
    font-size: 50px;
}
.section-info p{
    font-size: 25px;
    color: #e74c3c;
}
.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 600px;
    height: 600px;
    padding: 50px;
    border-radius: 50%;
}
.about-right-col{
    flex-basis: 50%;
}
#p-title{
    font-size: 30px;
    font-weight: bold;
}

.about-right-col p{
    font-size: 20px;
    text-align: justify;
}
.cv-btn{
    border: none;
    outline: none;
    color: white;
    background: #e74c3c;
    padding: 20px;
    margin: 10px;
}

#skills{
    padding: 100px 50px;
    background: url(../images/arnold-francisca-lz1MnBzCxLA-unsplash.jpg);
   
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45,52,54);
    padding: 50px;
}

.skills-left-col{
    flex-basis: 50%;
    text-align: justify;
}

.skills-left-col p{
    font-size: 20px;
}

.skills-right-col{
    flex-basis: 50%;
}

progress{
    width: 80%;
}

.progress-div{
    width: 70%;
    margin: auto;
}

.progress-div p{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 80px;
    text-align: justify;
}

/* .skills-left-col{
    flex-basis: 50%;
}

.skills-right-col{
    flex-basis: 50%;
}

.progress-div p span{
   width: 100%;

} */
/* #skills{
    padding: 100px 50px;
    background: url(../images/bg2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45,52,54);
    

}
.skills-left-col{
    flex-basis: 50%;
    display: flex;
}

.skills-right-col{
    flex-basis: 50%;
    display: flex;
    */

/* 
.skills-left-col{
    
    flex-basis: 100px;

}
.skills-right-col{
   
} */

/* .skills-row{
    width: 500px;
    margin: 50px auto 0;
    padding: 20px;
} */


/* li{
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;

}


li:before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 100px;
} */
#projects{
    padding: 100px 50px;

}

.projects-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projects-box{
    flex-basis: 25%;
    text-align: center;
    width: 300px;
    height: 250px;
    box-shadow: 2px 3px 5px grey;
    padding: 20px;
    margin-top: 20px;

}

.projects-box:hover{
    background-color: #e74c3c;
    color: white;
    transition: 0.4s;
}

/* li:after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54,126,1);
    border-radius: 1000px;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}

li.html:after{
    animation-name: html;

}


@keyframes css{
    to{
        width: 80%;

    }
} */
#contact{
    padding: 100px 50px;
    background: linear-gradient(160deg,#181717 45%, white 0%);
    margin-top: 20px;
    
    

}

/* .skills-row li{
    color: white;
} */

.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col{
    flex-basis: 50%;
}

.contact-right-col{
    flex-basis: 50%;
}
.contact-right-col  form{
    text-align: center;
}

.contact-right-col form h2{
    margin-bottom: 20px;

}

.contact-right-col form input{
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-right-col form textarea{
    width: 60%;
    padding: 10px;
  
}


#footer{
    background: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.socialmediaicons{
    list-style-type: none;
    display: flex;
    padding: 10px;
}

@media only screen and (max-width: 770px){
    header{
        background: url('../images/thomas-dumortier-abtidmVsw8o-unsplash.jpg');
        background-size: cover;
    }

    #sidenav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0px;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        padding: 100px 0px;

    }

    #sidenav a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 10px 30px;
        padding: 20px;
        display: block;
    }

    #sidenav a:hover{
        background: #e74c3c;
        transition: 0.4s;
    }

    #menubar{
        position: fixed;
        top: 10px;
        left: 50px;
        width: 50px;
        cursor: pointer;
    }

    .menu a{display: none;}

    .logo{
        padding-left: 50px;
    }
    .text{
        margin-left: 50px;
    }

    .about-left-col{
        flex-basis: 100%;
    }
    .about-left-col img{
        width: 400px;
        height: 400px;
        padding: 50px;
        border-radius: 50%;
    }
    .about-right-col{
        flex-basis: 100%;
    }

    .skills-left-col{
        flex-basis: 100%;
    }
    
    .skills-right-col{
        flex-basis: 100%;
    }
    
    .progress-div p span{
       width: 100%;
    
    }

    .skills-left-col{
        flex-basis: 100%;
       
    }

    .skills-right-col{
        flex-basis: 100%;
       
    }

    .progress-div{
        width: 80%;
        margin: auto;
    }

    .progress-div p{
        margin-bottom: 10px;
        font-size: 20px;
        padding-left: 20px;
        text-align: justify;
    }

    #skills{
        background: url(../images/arnold-francisca-lz1MnBzCxLA-unsplash.jpg);
       
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    .projects-box{
        flex-basis: 100%;
        margin-top: 20px;
    }


    .contact-left-col{
        flex-basis: 100%;
    }
    
    .contact-right-col{
        flex-basis: 100%;
    }
}